header {
    justify-content: center;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 0;
    width: 90vw;
    /* background-color: black; */
    & > * {
        flex: 1;
    }
}
.nav-links {
    
    justify-content: center;
    list-style-type: none;


    li {
        margin-right: 1vw;
        margin-left: 1vw;

    }

    li > a {
        text-decoration: none;
        color: white;
    }


}

.logo {
    max-height: 40vh;
    object-fit:contain;
    aspect-ratio: 1/1;
}


.dropdown-button {
    position: relative;
}
.dropdown {
    padding: .8rem;
    width: fit-content;
    position: absolute;
    align-items: flex-start;
    
    & > * {
        margin: .3rem;
    }
}

