<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block title %}
    {% endblock %}
</head>
    <header>   
    <div class="navbar-div">
        <nav class="navbar">
            <ul class="navlinks">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="music.html">Music</a></li>
                <li><a href="shows.html">Shows</a></li>
                <!-- <li><a href="contact.html">Contact</a></li> -->
            </ul>
        </nav>
    </div>    
</header>
    {% block body %}
    {% endblock %}
    

<footer>
    <nav class="socials">
        <ul class="social-links">
            <li><a target="_blank" href="https://www.instagram.com/amammothtask/?hl=en" class="fa fa-instagram"></a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=4blUaGkWw0M&ab_channel=DZRecords" class="fa fa-youtube"></a></li>
            <li><a target="_blank" href="https://open.spotify.com/artist/0PxamJCparlY9A6VeL3aZB?si=xHL-ZllCR9-75PGSwBpRmg" class="fa fa-spotify"></a></li>
            <li><a target="_blank" href="https://amammothtaskofficial.bandcamp.com/track/on-the-fly" class="fa fa-bandcamp"></a></li>
        </ul>
    </nav>
</footer> 
</html>