<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Official website for the Chicago Prog Punk band A Mammoth Task.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block title %}
    {% endblock %}
</head>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    {% if message == 'logged_in' %}
      <div class="alert alert-{{ category }}">
        <p>You are logged in. <a class="link-hover" href="{{ url_for('admin.index') }}">Visit Admin Portal</a></p>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
    <header class="flex-row">   
        <nav class="navbar">
            <ul class="nav-links flex-row">
                <li><a class="link-hover" href="{{ url_for('index') }}">Home</a></li>
                <li><a class="link-hover" href="{{ url_for('music') }}">Music</a></li>
                <li><a class="link-hover" href="{{ url_for('shows') }}">Shows</a></li>
                <li><a class="link-hover" href="{{ url_for('merch') }}">Merch</a></li>
                <li>
                    <button class="link-hover unstyle-button dropdown-btn">More</button>
                    <div class="dropdown hidden flex-column " style="background-color: black;">
                        <!-- <a class="link-hover" href="{{ url_for('contact')}}">Contact</a> -->
                        <a class="link-hover" href="{{ url_for('video') }}" >Video</a>
                        <a class="link-hover" href="{{ url_for('lessons') }}">Guitar Lessons</a>
                    </div>
                </li>

            </ul>
        </nav>

        <img class="logo" src="{{ url_for('static', filename='assets/amt_logo.png') }}">

    <nav class="navbar">
        <ul class="nav-links flex-row link-icons">
            <li><a target="_blank" href="https://www.instagram.com/amammothtask/?hl=en" class="fa fa-instagram link-hover"></a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=4blUaGkWw0M&ab_channel=DZRecords" class="fa fa-youtube link-hover"></a></li>
            <li><a target="_blank" href="https://open.spotify.com/artist/0PxamJCparlY9A6VeL3aZB?si=xHL-ZllCR9-75PGSwBpRmg" class="fa fa-spotify link-hover"></a></li>
            <li><a target="_blank" href="https://amammothtaskofficial.bandcamp.com/track/on-the-fly" class="fa fa-bandcamp link-hover"></a></li>
        </ul>
    </nav>

</header>
    <div class="loader-overlay">
        <h4 style="text-align: center;" id="loader-msg"></h4>
    </div>
    {% block body %}
    {% endblock %}
    

<footer class="flex-column">
    <nav class="socials">
        <ul class="social-links">
            <li><a target="_blank" href="https://www.instagram.com/amammothtask/?hl=en" class="fa fa-instagram link-hover"></a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=4blUaGkWw0M&ab_channel=DZRecords" class="fa fa-youtube link-hover"></a></li>
            <li><a target="_blank" href="https://open.spotify.com/artist/0PxamJCparlY9A6VeL3aZB?si=xHL-ZllCR9-75PGSwBpRmg" class="fa fa-spotify link-hover"></a></li>
            <li><a target="_blank" href="https://amammothtaskofficial.bandcamp.com/track/on-the-fly" class="fa fa-bandcamp link-hover"></a></li>
        </ul>
    </nav>
    <img class="" src="{{ url_for('static', filename='assets/joy_stencil.png') }}" alt="amt-logo">
    <p>amammothtaskmusic@gmail.com</p>
    <p>Site designed by Logan Huber</p>
</footer> 
<script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</html>