{% extends 'public/base.html' %}

{% block body %}

<body class="home">
    <main class="content">
        <h1>Learn to play A Mammoth Task</h1>
        <p>These videos have Logan break down and show you how to play some A Mammoth Task's material on the electric guitar. These songs sound a lot harder to play than they actually are, I promise. The videos are targeted for a more intermediate skill level, however I encourage you to try at whatever skill level you have! That's how you get better, you gotta give the daunting stuff a go.</p>
        <p>If you'd like to recommend a song for a lesson, feel free to email your suggestion <a class="underline link-hover" href="{{ url_for('contact') }}">here</a></p>
    </main>

</body>
{% endblock %}