{% extends 'public/base.html' %}

{% block title %}
<title>Merch</title>
{% endblock %}

{% block body %}
    <body class="home">
        <main class="content flex-column">
            <h1>Merch</h1>
            <p>All merch transactions are handled through Bandcamp. To view our merch on bandcamp,<a class="link-hover" target="_blank" href="https://amammothtaskofficial.bandcamp.com/merch"> click here.</a></p>

            <div class="merch-container flex-row">
                {% for item in merch %}
                <div class="card flex-column link-hover">
                    <a target="_blank" href="{{ item.link }}">
                        <img src="{{ url_for('static', filename='assets/merch/' ~item.image) }}" alt="{{ item.name }}">
                        <div class="">
                            <h4>{{ item.name }}</h4>
                            <h4>${{ item.price }}</h4>
                            {% if item.description %}
                            <p>{{ item.description }}</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </main>
    </body>
{% endblock %}