{% extends 'public/base.html' %}

{% block title %}
<title>Merch</title>
{% endblock %}

{% block body %}
    <body class="home">
        <main class="content flex-column">
            <h1>Merch</h1>
            <p>All merch transactions are handled through Bandcamp. To view our merch on bandcamp,<a target="_blank" href="https://amammothtaskofficial.bandcamp.com/merch"> click here.</a></p>


            <div class="merch-container flex-row">
                <div class="card flex-column link-hover">
                    <a target="_blank" href="https://amammothtaskofficial.bandcamp.com/album/tasteless">
                        <img src="{{ url_for('static', filename='assets/merch/tasteless_cassette.jpeg') }}" alt="Taseteless Cassette">
                        <div class="">
                            <h4>Tasteless Cassette</h4>
                            <h4>$10</h4>
                        </div>
                    </a>
                </div>
                <div class="card flex-column link-hover">
                    <a target="_blank" href="https://amammothtaskofficial.bandcamp.com/merch/paul-harrell-shirt">
                        <img src="{{ url_for('static', filename='assets/merch/shirt_pic.jpeg')}}" alt="Paul Harrell Shirt">
                        <div class="">
                            <h4>Paul Harrell Shirt</h4>
                            <h4>$20</h4>
                            <p>Paul Harrell design screen printed on Gildan "Yellow Haze" heavy cotton t-shirt.
            Artwork by Kyle Bak.
            Screen Printed at Modest Merch.</p>
                        </div>
                    </a>
                </div>
            </div>
        </main>
    </body>
{% endblock %}