{% extends 'public/base.html' %}

{% block title %}
<title>Music</title>
{% endblock %}


{% block body %}

<body class="music">
    <main class="content flex-column">
        <img src="{{ url_for('static', filename='assets/gifs/cd.gif') }}" alt="stupid cd gif">
        <h1>Discography </h1>
        <details class="flex-column" open>
            <summary>Tasteless<span> (2025)</span></summary>
            <img style="width: 30vw" src="{{ url_for('static', filename='assets/album-covers/tastelesscover.png') }}" alt="Album cover for 'Tasetless'">
            <article style="text-align: left;">
                <p>
                    Tasteless is the latest EP. The five songs were recorded live at Music Garage in May of 2022, while vocals and extra goodies were tracked at home over the following months. In classic AMT fashion each song is musically busy and specific, which made live tracking truly a bitch. This feels worth the added pain however in a world where every bands edits every possible detail to a grid. That's rock n roll, baby.
                </p>
                <p>
                    The songs cover a range of unorthodox topics, from dementia to the Killdozer. If it wasn't for our obsession with Tom Lehrer and System of a Down, I'm sure these songs would be about love or something.
                </p>
                <label>Tracks:</label>
                <ol>
                    <li>On The Fly</li>
                    <li>The Juice</li>
                    <li>Djentlemen</li>
                    <li>Sell My Shit</li>
                    <li>Tickled Pink</li>
                </ol>
                <time datetime="">September 5, 2025</time>
                <br>
                <sub>Produced by A Mammoth Task</sub>
                <br>
                <sub>Mixed/Mastered by John Fitzgerald @ JFitz Audio</sub>
                <br>
                <sub>Artwork by Logan Huber</sub>
                <br>
                <iframe style="border: 0; width: 100%; height: 42px; margin-top: 1rem; margin-bottom: 1rem;" src="https://bandcamp.com/EmbeddedPlayer/album=1967471326/size=small/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" seamless><a href="https://amammothtaskofficial.bandcamp.com/album/tasteless">Tasteless by A Mammoth Task</a></iframe>            
            </article>
            <button><a  href="https://amammothtaskofficial.bandcamp.com/album/tasteless">Buy on Bandcamp</a></button>
            <button><a href="https://amammothtaskofficial.bandcamp.com/album/tasteless">Buy a Cassette</a></button>
        </details>
        <details class="flex-column">
            <summary>Deep Fake<span> (2023)</span></summary>
            <img style="width: 37vw" src="{{ url_for('static', filename='assets/album-covers/dp.jpg') }}" alt="Album cover for 'Tasetless'">
                        <article style="text-align: left;">
                <p>
                    Deep Fake was recorded at Wholesome Studios in Chicago sometime in 2022. Everything you'll hear besides the vocals was tracked live together in the same room. For music this technical, that was sort of a nightmare. But we wanted to sound just like we do live, and the preformance aspect stands out.
                </p>
                <p>
                    One of our hero's, Glenn Fricker confirmed live tracking was the move in his review of “Vlady Killer”. He also confirmed our kick drum was not loud enough. To this day we're ecstatic to get such a response out of him, <a target="_blank" class="underline link-hover" href="https://www.youtube.com/watch?v=F22dQbe1VUo&t=11s">click here to watch it!</a>
                </p>
                <p>
                    The tabloid style album cover was done by the incredible BJ Miller, featuring many characters from each of the songs. 
                </p>
                <label>Tracks:</label>
                <ol>
                    <li>Vlady Killer</li>
                    <li>Fur Moms Know Best</li>
                    <li>Collyer Park</li>
                    <li>Crop Circles</li>
                    <li>Nerves Of Still</li>
                </ol>
                <time datetime="">January 12, 2023</time>
                <br>
                <sub>Produced by A Mammoth Task</sub>
                <br>
                <sub>Mixed/Mastered by John Fitzgerald @ JFitz Audio</sub>
                <br>
                <sub>Artwork by BJ Miller. <a class="link-hover" target="_blank" href="https://www.instagram.com/briannanus/">@briannanus</a></sub>
                <br>
                <iframe style="border: 0; width: 100%; height: 42px; margin-top: 1rem; margin-bottom: 1rem;" src="https://bandcamp.com/EmbeddedPlayer/album=2863654243/size=small/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" seamless><a href="https://amammothtaskofficial.bandcamp.com/album/deep-fake">Deep Fake by A Mammoth Task</a></iframe>
            </article>
            <button><a href="">Buy on Bandcamp</a></button>
        </details>
                <details class="flex-column">
            <summary>JOY!!! <span> (2020)</span></summary>
            <img style="width: 37vw" src="{{ url_for('static', filename='assets/album-covers/joy_artwork.jpg') }}" alt="Album cover for 'Tasetless'">
                        <article style="text-align: left;">
                <p>
                    JOY!!! was recorded over a few winter months in 2019 in a way too big room at The Rock Spot. This is the first EP since our drummer, John Fitzgerald, joined the band. Not only did he shred, he also produced, mixed and mastered it! 
                </p>
                <p>
                    The purpose of this album was to start sounding like the trio we are live. Nothing more, nothing less. 
                </p>
                <p>
                    Artwork for this was done by BJ Miller. <a target="_blank" class="underline link-hover" href="https://www.instagram.com/briannanus/">Click here to check out her stuff!</a>
                </p>
                <label>Tracks:</label>
                <ol>
                    <li>Betsy Rolled In Poop, Again</li>
                    <li>Kerfuffle</li>
                    <li>My Give a Damns Are Busted</li>
                    <li>Lamethrower</li>
                    <li>Too Bad That Didn't Kill Me</li>
                    <li>Checkmate, Creationists!</li>
                </ol>
                <time datetime="">March 11, 2020</time>
                <br>
                <sub>Produced by A Mammoth Task</sub>
                <br>
                <sub>Mixed/Mastered by John Fitzgerald @ JFitz Audio</sub>
                <br>
                <sub>Artwork by BJ Miller. <a class="link-hover" target="_blank" href="https://www.instagram.com/briannanus/">@briannanus</a></sub>
                <br>
                <iframe style="border: 0; width: 100%; height: 42px; margin-top: 1rem; margin-bottom: 1rem;" src="https://bandcamp.com/EmbeddedPlayer/album=690079059/size=small/bgcol=333333/linkcol=ffffff/artwork=none/transparent=true/" seamless><a href="https://amammothtaskofficial.bandcamp.com/album/joy">JOY!!! by A Mammoth Task</a></iframe>
            </article>
            <button><a target="_blank" href="https://amammothtaskofficial.bandcamp.com/album/joy">Buy on Bandcamp</a></button>
        </details>
        <!-- <iframe data-testid="embed-iframe" style="border-radius:none; margin-top: 100px;" src="https://open.spotify.com/embed/artist/0PxamJCparlY9A6VeL3aZB?utm_source=generator&theme=0" width="90%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <style>
            .TrackListWidget_widgetContainer__VVETD {
                border-radius: none;
            }
        </style> -->

        <h3>Listen</h3>
        <p><a class="link-hover" target="_blank" href="https://amammothtaskofficial.bandcamp.com/album/tasteless">Listen on Bandcamp</a></p>
        <p><a href="https://open.spotify.com/artist/0PxamJCparlY9A6VeL3aZB" target="_blank" class="link-hover">Listen on Spotify</a></p>
    </main>
</body>
{% endblock %}