{% extends 'public/base.html' %}

{% block title %}
<title>Music</title>
{% endblock %}


{% block body %}

<body class="music">
    <main class="content flex-column">
        <h1>Discography</h1>
        <details class="flex-column">
            <summary>Tasteless<span> (2025)</span></summary>
            <img style="width: 37vw" src="{{ url_for('static', filename='assets/album-covers/tastelesscover.png') }}" alt="Album cover for 'Tasetless'">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos fugiat reiciendis delectus voluptatum tempora nisi error dolores est praesentium consequuntur, tempore iste, fugit libero, consequatur nostrum odit dolorum eligendi beatae.</p>
        </details>
                <details class="flex-column">
            <summary>Deep Fake<span> (2023)</span></summary>
            <img style="width: 37vw" src="{{ url_for('static', filename='assets/album-covers/dp.jpg') }}" alt="Album cover for 'Tasetless'">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos fugiat reiciendis delectus voluptatum tempora nisi error dolores est praesentium consequuntur, tempore iste, fugit libero, consequatur nostrum odit dolorum eligendi beatae.</p>
        </details>
                <details class="flex-column">
            <summary>JOY!!! <span> (2020)</span></summary>
            <img style="width: 37vw" src="{{ url_for('static', filename='assets/album-covers/tastelesscover.png') }}" alt="Album cover for 'Tasetless'">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos fugiat reiciendis delectus voluptatum tempora nisi error dolores est praesentium consequuntur, tempore iste, fugit libero, consequatur nostrum odit dolorum eligendi beatae.</p>
        </details>
    </main>
</body>
{% endblock %}