{% extends 'public/base.html' %}

{% block title %}
<title>Music</title>
{% endblock %}


{% block body %}

<body class="music">
    <main class="content flex-column">
        <h1>Discography</h1>
        <details class="flex-column" open>
            <summary>Tasteless<span> (2025)</span></summary>
            <img style="width: 30vw" src="{{ url_for('static', filename='assets/album-covers/tastelesscover.png') }}" alt="Album cover for 'Tasetless'">
            <article style="text-align: left;">
                <p>
                    Tasteless is the latest EP. The five songs were recorded live at Music Garage in May of 2022, while vocals and extra goodies were tracked at home over the following months. In classic AMT fashion each song is musically busy and specific, which made live tracking truly a bitch. This feels worth the added pain however in a world where every bands edits every possible detail to a grid. That's rock n roll, baby.
                </p>
                <p>
                    The songs cover a range of unorthodox topics, from dementia to the Killdozer. If it wasn't for our obsession with Tom Lehrer and System of a Down, I'm sure these songs would be about love or something.
                </p>
                <label>Tracks:</label>
                <ol>
                    <li>On The Fly</li>
                    <li>The Juice</li>
                    <li>Djentlemen</li>
                    <li>Sell My Shit</li>
                    <li>Tickled Pink</li>
                </ol>
                <time datetime="">September 5, 2025</time>
                <br>
                <sub>Produced by A Mammoth Task</sub>
                <br>
                <sub>Mixed/Mastered by John Fitzgerald @ JFitz Audio</sub>
                <br>
                <sub>Artwork by Logan Huber</sub>
                <br>
            </article>
                <button><a href="https://amammothtaskofficial.bandcamp.com/album/tasteless">Buy on Bandcamp</a></button>
                <button><a href="https://amammothtaskofficial.bandcamp.com/album/tasteless">Buy a Cassette</a></button>
        </details>
                <details class="flex-column">
            <summary>Deep Fake<span> (2023)</span></summary>
            <img style="width: 37vw" src="{{ url_for('static', filename='assets/album-covers/dp.jpg') }}" alt="Album cover for 'Tasetless'">
                        <article style="text-align: left;">
                <p>
                    Tasteless is the latest EP. The five songs were recorded live at Music Garage in May of 2022, while vocals and extra goodies were tracked at home over the following months. In classic AMT fashion each song is musically busy and specific, which made live tracking truly a bitch. This feels worth the added pain however in a world where every bands edits every possible detail to a grid. That's rock n roll, baby.
                </p>
                <p>
                    The songs cover a range of unorthodox topics, from dementia to the Killdozer. If it wasn't for our obsession with Tom Lehrer and System of a Down, I'm sure these songs would be about love or something.
                </p>
                <label>Tracks:</label>
                <ol>
                    <li>Vlady Killer</li>
                    <li>Fur Moms Know Best</li>
                    <li>Collyer Park</li>
                    <li>Crop Circles</li>
                    <li>Nerves Of Still</li>
                </ol>
                <time datetime="">January 12, 2023</time>
                <br>
                <sub>Produced by A Mammoth Task</sub>
                <br>
                <sub>Mixed/Mastered by John Fitzgerald @ JFitz Audio</sub>
                <br>
                <sub>Artwork by BJ Miller. <a href="https://www.instagram.com/briannanus/">@briannanus</a></sub>
                <br>
            </article>
            <button><a href="">Buy on Bandcamp</a></button>
        </details>
                <details class="flex-column">
            <summary>JOY!!! <span> (2020)</span></summary>
            <img style="width: 37vw" src="{{ url_for('static', filename='assets/album-covers/joy_artwork.jpg') }}" alt="Album cover for 'Tasetless'">
                        <article style="text-align: left;">
                <p>
                    JOY!!! was recorded over a few winter months in 2019 in a way too big room at The Rock Spot. This is the first EP since our drummer, John Fitzgerald, joined the band. Not only did he shred, he also produced, mixed and mastered it! 
                </p>
                <p>
                    The purpose of this album was to start sounding like the trio we are live. Nothing more, nothing less. 
                </p>
                <p>
                    Artwork for this was done by BJ Miller. <a href="https://www.instagram.com/briannanus/">Click here to check out her stuff!</a>
                </p>
                <label>Tracks:</label>
                <ol>
                    <li>Betsy Rolled In Poop, Again</li>
                    <li>Kerfuffle</li>
                    <li>My Give a Damns Are Busted</li>
                    <li>Lamethrower</li>
                    <li>Too Bad That Didn't Kill Me</li>
                    <li>Checkmate, Creationists!</li>
                </ol>
                <time datetime="">March 11, 2020</time>
                <br>
                <sub>Produced by A Mammoth Task</sub>
                <br>
                <sub>Mixed/Mastered by John Fitzgerald @ JFitz Audio</sub>
                <br>
                <sub>Artwork by BJ Miller. <a href="https://www.instagram.com/briannanus/">@briannanus</a></sub>
                <br>
            </article>
            <button><a href="https://amammothtaskofficial.bandcamp.com/album/joy">Buy on Bandcamp</a></button>
        </details>
        <iframe data-testid="embed-iframe" style="border-radius:none; margin-top: 100px;" src="https://open.spotify.com/embed/artist/0PxamJCparlY9A6VeL3aZB?utm_source=generator&theme=0" width="90%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <style>
            .TrackListWidget_widgetContainer__VVETD {
                border-radius: none;
            }
        </style>
    </main>
</body>
{% endblock %}