{% extends 'public/base.html' %}

{% block title %}
<title>Shows</title>
{% endblock %}


{% block body %}

<body class="shows">
    <main class="content flex-column">
        <dialog class="flex-column" id="more-info" class="flex-column">
            <h3>More Info</h3>
            <img id="show-flyer" style="height: 40vh;" src="" alt="Flyer">
            <ul id="more-info">
                <li><span id="info-description"></span></li>
                <li><span class="category">City: </span><span id="info-city" class="info"></span></li>
                <li><span class="category">Venue: </span><span id="info-venue" class="info"></span></li>
                <!-- <li><span class="category">Address</span><span class="info">1060 W Addison</span></li> -->
                 <li style="display: none;" id="tickets-at-door">Tickets At Door</li>
                <li style="display: none;" id="get-tickets"><span class="info"><a style="text-decoration: underline;" class="link-hover" target="_blank" id="info-ticket-link" href="">Get Tickets</a></span></li>
            </ul>
            <form method="dialog">
                <button class="button-16" id='close-btn'>Close</button>
            </form>
        </dialog>
        
        <h1>Shows</h1>
        
        <h3 style="width: 95%;">Upcoming</h3>
        
        {% for show in upcoming %}
            <div class="shows-row flex-row">
                <img style="height: 40vh;" src="{{ url_for('static', filename='assets/flyers/' ~show.img_filename) }}" alt="{{ show.description }}" class="flyer">
                <div class="info flex-row">
                    <p>{{ show.description }}</p>
                    <p style="text-align: right;"><sub>{{ show.date.strftime("%B %d, %Y") }}</sub></p>
                </div>
                <button data-venue="{{ show.venue }}" data-link="{{ show.ticket_link }}" data-description="{{ show.description }}" data-image="{{ url_for('static', filename='assets/flyers/' ~show.img_filename) }}" data-city="{{ show.city }}" class="info-btn button-16" onclick="document.getElementById('more-info').showModal()">INFO</button>
            </div>
        {% endfor %}

            <h3 style="width: 95%; margin-top: 10rem;">Past</h3>

            {% for show in past %}
            <div class="shows-row flex-row">
                <img style="height: 40vh;" src="{{ url_for('static', filename='assets/flyers/' ~show.img_filename) }}" alt="{{ show.description }}" class="flyer">
                <div class="info flex-row">
                    <p>{{ show.description }}</p>
                    <p style="text-align: right;"><sub>{{ show.date.strftime("%B %d, %Y") }}</sub></p>
                </div>
,            </div>
            {% endfor %}
        </main>

    </body>
    <script src="{{ url_for('static', filename='javascript/shows.js') }}"></script>

{% endblock %}