{% extends 'public/base.html' %}

{% block title %}
<title>Shows</title>
{% endblock %}


{% block body %}
    <body class="shows">
        <main class="content flex-column">
            <dialog class="flex-column" id="more-info" class="flex-column">
                <h3>More Info</h3>
                <ul>
                    <li>City:</li>
                    <li>Venue:</li>
                    <li>Address:</li>
                    <li>Ticket Link:</li>
                </ul>
                <form method="dialog">
                    <button>Close</button>
                </form>
            </dialog>

            <h1>Shows</h1>

            <h3 style="width: 95%;">Upcoming</h3>

            <div class="shows-row flex-row">
                <img style="height: 40vh;" src="{{ url_for('static', filename='assets/flyers/327CHICAGO.jpg')}}" alt="" class="flyer">
                <div class="info flex-row">
                    <p>@ Cole's Bar with Squiggle and MoonGoons</p>
                    <p style="text-align: right;"><sub>Chicago March 27, 2026</sub></p>
                </div>
                <button onclick="document.getElementById('more-info').showModal()" style="height: 2rem;">INFO</button>
            </div>

            <div class="shows-row flex-row">
                <img style="height: 40vh;" src="{{ url_for('static', filename='assets/flyers/327CHICAGO.jpg')}}" alt="" class="flyer">
                <div class="info flex-row">
                    <p>@ Cole's Bar with Squiggle and MoonGoons</p>
                    <p style="text-align: right;"><sub>Chicago March 27, 2026</sub></p>
                </div>
                <button style="height: 2rem;">INFO</button>
            </div>
            <h3 style="width: 95%">Past</h3>
        </main>

    </body>
{% endblock %}