{% extends 'public/base.html' %}

{% block title %}
<title>Shows</title>
{% endblock %}


{% block body %}
    <body class="shows">
        <main class="content flex-column">
            <dialog class="flex-column" id="more-info" class="flex-column">
                <h3>More Info</h3>
                <ul id="more-info">
                    <li><span class="category">City</span><span class="info">Chicago</span></li>
                    <li><span class="category">Venue</span><span class="info">Cole's Bar</span></li>
                    <li><span class="category">Address</span><span class="info">1060 W Addison</span></li>
                    <li><span class="category">Ticket Link</span><span class="info"><a href="">logan.com</a></span></li>
                </ul>
                <form method="dialog">
                    <button>Close</button>
                </form>
            </dialog>

            <h1>Shows</h1>

            <h3 style="width: 95%;">Upcoming</h3>

            <div class="shows-row flex-row">
                <img style="height: 40vh;" src="{{ url_for('static', filename='assets/flyers/327CHICAGO.jpg')}}" alt="" class="flyer">
                <div class="info flex-row">
                    <p>@ Cole's Bar with Squiggle and MoonGoons</p>
                    <p style="text-align: right;"><sub>Chicago March 27, 2026</sub></p>
                </div>
                <button onclick="document.getElementById('more-info').showModal()" style="height: 2rem;">INFO</button>
            </div>

            <div class="shows-row flex-row">
                <img style="height: 40vh;" src="{{ url_for('static', filename='assets/flyers/327CHICAGO.jpg')}}" alt="" class="flyer">
                <div class="info flex-row">
                    <p>@ Cole's Bar with Squiggle and MoonGoons</p>
                    <p style="text-align: right;"><sub>Chicago March 27, 2026</sub></p>
                </div>
                <button style="height: 2rem;">INFO</button>
            </div>
            <h3 style="width: 95%">Past</h3>
        </main>

    </body>
    <script>
        const categories = document.querySelectorAll('.category')
        const totalChars = 30
        categories.forEach((category) => {
            const info = category.nextElementSibling
            console.log(info.textContent)
            const addedChar = '_'
            
            const totalAdds = totalChars - (category.textContent.length + info.textContent.length)
            console.log(totalAdds)
            category.textContent += addedChar.repeat(totalAdds)
            console.log(category.textContent.length)
        })
    </script>
{% endblock %}