{% extends 'public/base.html' %}

{% block body %}

<body class="home">
    
    <main class="content flex-column">
        <h1>Video</h1>
        <details>
            <summary>
                <h3>
                    Sessions
                </h3>
            </summary>
            <h4>DZ Session</h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4blUaGkWw0M?si=S0EoLzf7tjSo-THn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <h4>The Hive Session</h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kVGy2C-M0SU?si=G_d5Xr1ruJOX5Nc7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </details>

        <details>
            <summary>
                <h3>
                    Live Shows
                </h3>
            </summary>
            <p>A lot of these shows have been captured by our good friend, Sam Farmer. Check out his Youtube!</p>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/fvIM9xuLKvk?si=UgA9sYWoO2KBAv2C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </details>
        
        <details>
            <summary>
                <h3>
                    Playthroughs
                </h3>
            </summary>
        </details>
    </main>


</body>

{% endblock %}