{% extends 'public/base.html' %}

{% block title %}
<title>Video</title>
{% endblock %}

{% block body_class %}
video
{% endblock %}

{% block body %}
    <main class="content flex-column">
        <div style="padding: 2rem; gap: 1rem;" class="flex-row">
            <h1>Video</h1>
            <img src="{{url_for('static', filename='assets/gifs/dvd.gif') }}" alt="vhs gif">

        </div>


        <div class="flex-row">
            <button class="tab-btn active" data-target="#tab-1">Live Sessions</button>
            <button class="tab-btn" data-target="#tab-2">Live Shows</button>
            <button class="tab-btn" data-target="#tab-3">Playthroughs</button>
        </div>

        <div class="tab-content flex-column" id="tab-1">
            <h2>Live Sessions</h2>
            <h4>DZ Session</h4>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/SKdl6w2U2G8?si=xLqBBdks4xnqsgFO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2ADadm3IwCM?si=TtBfKbmLVKKKzlex" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4blUaGkWw0M?si=S0EoLzf7tjSo-THn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <h4>The Hive Session</h4>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kVGy2C-M0SU?si=G_d5Xr1ruJOX5Nc7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        <div class="tab-content flex-column hidden" id="tab-2">
            <h2>Live Shows</h2>
            <p>Most of these shows have been captured by our good friend and scene legend, Sam Farmer. <a class="link-hover underline" target="_blank" href="https://www.youtube.com/@farmer5123">Check out his Youtube channel!</a></p>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/eOLqqelfrks?si=RFyrJA9iRvb4Gr4U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/S3yH5-Sq9Pg?si=uBVYp0Dvy03i9KBJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/A-PW_YGiCHA?si=1QOTI82lkauRSHJC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        <div class="tab-content flex-column hidden" id="tab-3">
            <h2>Playthroughs</h2>
            <p>If you'd like to learn how to play any of these songs, <a class="link-hover underline" href="{{ url_for('lessons')}}">view our lessons page!</a></p>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xl9UKJjnrSU?si=uHeby2x3Safmsm09" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hnlwiWdBaHc?si=Z74dpWGeS9PvEhV9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pMJ1gFg8ygc?si=KEHF5nT7uKyHI6Vh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

    </main>

{% endblock %}